/*quitando estilos predeterminados*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header{
    width: 100%;
    height: 90px;
    background: white;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}
header img{
    height: 60px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
header .fa{
    font-size: 35px;
    margin: 25px;
    position: absolute;
    right: 0;
}

/*agregando estilos a nav*/
nav{
    background: #e4e2df;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 90px;
}

nav div{
    width: 100%;
}

nav select{
    background: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    height: 45px;
    margin: 10px;
    padding: 5px;
    width: 260px;
}

li {
    list-style: none;
}
.container-tab li{
    /* outline: 1px solid greenyellow; */
    display: inline-block;
    margin-left: 60px;
    font-size: 20px;
    cursor: pointer;
    padding-bottom: 5px;
    font-weight: 500;
}
.hover{
    border-bottom: 6px solid #ffc107;
}
.square{
   width: 370px;
   height: 360px;
   /* outline: 1px solid red;  */
   display: inline-block;
   margin: 10px;
   padding: 10px;
   background: #fff;
   box-shadow: 5px 5px 0px #ccc;
   vertical-align: top;
}

.graphic-data{
   width: 150px;
   display: inline-block;
   margin: 5px;
   margin-top: 15px;
   background:#e1e1e1;
   text-align: center;
   padding:5px;
   vertical-align: top;
}

.skill{
    width: 1160px;
    height: 553px;
    /* outline: 1px solid blue; */
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    text-align: left;
    padding: 30px;
    background: #fff;
    box-shadow: 5px 5px 0px #ccc;
}

.container-big{
   padding: 30px;
   /* outline: 1px solid purple; */
   text-align: center;
   background: #f7f7f7;
}

.container-big .text1{
  display:inline-block;
  background-color: #f7b617;
  padding:10px;
  margin:0 60px 0 60px;
 border-radius: 5px;

}
.inline-block{
    display: inline-block;
}

.none{
    display: none;
}

.block{
    display: block;
}

.hover{
    border-bottom: 6px solid #ffc107;
}

#title-selector{
    display: inline-block;
    margin-left: 60px;
    font-size: 40px;
    font-weight: 700;
}

#section{
    position:relative;
    background-color: #f7f7f7;
    height: 800px;
  }

  #container{
    background-color: #ffffff;
    width: 30%;
    margin: 0;
    left:3%;
    bottom: 35%;
    position: fixed;
  }
  #container h2{
    margin: 0;
    padding: 10px;
    display:inline-block;
  }
  #container form input{
    margin: 10px;
  }

  #formulario input[type="checkbox"]{
    display:none;
  }
  #formulario .checkbox label{
    color: #f7b617;
    padding: 5px 15px 5px 51px;
    display:inline-block;
    position:relative;
    font-size: 1em;
    border-radius: 3px;
    cursor:pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.35s ease;
  }
  #formulario .checkbox label:hover{
    background: rgb(247,182,23 0.1);
  }
  #formulario .checkbox label:before{
    content:"";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid #f7b617;
    position:absolute;
    left:17px;
  }
  #formulario input[type="checkbox"]:checked + label{
    padding: 5px 15px;
    background: #f7b617;
    border-radius: 2px;
    color: #fff;
  }
  #formulario input[type="checkbox"]:checked + label:before{
    display:none;
  }

  #first{
    padding:10px;
    box-shadow: 5px 5px 0px #ccc;
    border-radius: 5px;
    height:auto;
    width:50%;
    position:absolute;
    right: 72px;
    top: 42px;
  }
  #img-container{
    background-color: #ffffff;
    margin: 10px;
    height: auto;
    box-shadow: 5px 5px 0px #ccc;
    position:absolute;
    right:72px;
    top: 150px;
  }
  #img-container img{
    height: 20%;
    width: 20%;
    margin: 15px;
    float:left;
  }
  #img-container h1{
    display:inline-block;
    margin-top: 15px;
  }
  #img-container p{
    display:inline-block;
    margin:0;
    font-size: 20px;
  }
  #img-container span{
    font-size: 10px;
  }
  #img-container .item{
    background-color: #efefef;
    padding: 4px;
    margin-right: 5px;
  }
  #img-container #porcentage-box{
    position:absolute;
    right: 10px;
    top:20px;
  }
   #img-container #porcentage{
     display:inline-block;
     font-size: 12px;
     margin: 8px;
     padding: 8px;
     background-color: #e1e1e1;
     text-align: center;
     float:right;
     position:relative;
     bottom: 10px;
   }
  #img-container #perfil{
    position:absolute;
    right:10px;
    bottom: 10px;
    font-size: 20px;
  }

  #img-container .remove{
    background-color: #f7b617;
    color: #fff;
    display:inline-block;
    margin-top: 35px;
    padding: 5px 10px;
  }

.container-grafy{
  width: 300px;
  height: 230px;
  left:50%;
  transform: translateX(-50%);
  position: relative;
}

.red{
  color: red;
}

.container-select-grafy{
  width: 600px;
  height: 400px;
  left:50%;
  transform: translateX(-50%);
  position: relative;
}

#buscar{
    position: relative;
    left: 68%;
    bottom: 30px;
    font-size: 20px;
    outline: none;
    border: none;
    background: #f7b617;
    padding: 10px;
    cursor: pointer;
}

.none{
    display: none;
}

.block{
    display: block;
}

#infoSkill{
  padding-bottom: 15px;
}

.squarep-container{
  position: relative;
  left:40px;
  overflow:hidden;
}
.squarep-container img{
  width:100%;
  height:auto
}

.squaren {
  width: 210px;
  height: 50px;
  background: #fff;
  color: #1b1a15;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}


.squaret {
  width: 30px;
  height: 50px;
  text-align: center;
  background: #fff;
  color: #C78B1C;
  margin: 10px;
  font-size: 20px;

}
.squareh {
  width: 30px;
  height: 50px;
  text-align: center;
  background: #fff;
  color: #0f9ef1;
  margin: 10px;
  font-size: 20px;
}
.box{
  width:180px;
  border:1px solid #999;
  box-sizing: border-box;
  float:left;
}

.titles{
  width: 100%;
  text-align: center;
  background-color: #ffc107;
  border-color: 2px solid #f1ca0f;
  border-radius:5px;
  padding: 5px;
}
.tspan{
 color: #ffc107;
}
.principal {
    width: 60%;
    display: inline-block;
    background: #fff;
    padding: 10px;
    margin: 10px;
}

.section-skills{
  float: left;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  left:10%;
}

.select-th{
    background: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    height: 45px;
    margin: 10px;
    padding: 5px;
    width: 260px;
}
.text1{
  display: inline-block;
    background-color: #f7b617;
    padding: 10px;
    margin: 0 60px 0 60px;
    border-radius: 5px;
}
.total-student-active{
  color: blue;
  font-size: 20px;
  font-weight: 100px;

}
